@model List<Household>

@{
    ViewData["Title"] = "Households";
}

<h2>Current Households</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Household Name
            </th>
            <th>
                Household Address
            </th>
        </tr>
    </thead>
    @foreach (Household house in Model)
    {
        <tr>
            <td>
                @house.Name
            </td>
            <td>
                @house.Address
            </td>
        </tr>
    }
</table>

<h2>Add a Household</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HandleNewHousehold">
            <div class="form-group">
                <label for="n" class="control-label">Household Name</label>
                <input name="n" class="form-control" />
            </div>
            <div class="form-group">
                <label for="a" class="control-label">Household Address</label>
                <input name="a" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add Household" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>